<!-- Receipt Component -->
<div class="content">
    <div class="row">
        <div class="container col m-4 mt-0 mb-0 pt-2">

            <div class="row pb-2 mt-4">
                <!-- Heading -->
                <div class="col">
                    <h1 class="my-2">Sales Receipt</h1>
                </div>

                <div class="col-2">
                    <button mat-fab extended color="primary">
                        <mat-icon>search</mat-icon> Find
                    </button>
                    <button mat-fab extended color="primary">
                        <mat-icon>favorite</mat-icon>
                        Primary
                    </button>
                </div>
            </div>

            <div class="row pt-2">
                <!-- Search Customer Input Field -->
                <div class="col ">
                    <mat-form-field class="m-2 w-75">
                        <mat-icon class="pt-1 mx-1" matPrefix>person</mat-icon>
                        <input #accountSearch type="input" placeholder="Search Customer" matInput
                            [formControl]="accountSearchField" [matAutocomplete]="auto1" autocomplete="off">

                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option *ngFor="let autoCompleteDataAccount of filteredOptionsAccount | async"
                                [value]="autoCompleteDataAccount" (onSelectionChange)="addAccountToReceipt($event)">
                                {{autoCompleteDataAccount}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- Search Item Input Field -->
                <div class="col ">
                    <mat-form-field class="m-2 w-75">
                        <mat-icon class="pt-1 mx-1" matPrefix>search</mat-icon>
                        <input #itemSearch type="input" placeholder="Search Item" matInput
                            [formControl]="itemSearchField" [matAutocomplete]="auto2" autocomplete="off">

                        <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                            <mat-option *ngFor="let autoCompleteData of filteredOptions | async"
                                [value]="autoCompleteData" (onSelectionChange)="addToReceipt($event)">
                                {{autoCompleteData}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <!-- Receipt Table -->
            <div class="table-container">
                <table mat-table [dataSource]="dataSource">
                    <!-- UPC Column -->
                    <ng-container matColumnDef="UPC">
                        <th class="p-2" mat-header-cell *matHeaderCellDef> UPC </th>
                        <td class="p-2" mat-cell *matCellDef="let element"> {{element.upc}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="Description">
                        <th class="p-2 w-50" mat-header-cell *matHeaderCellDef> Description </th>
                        <td class="p-2 w-50" mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>

                    <!-- Size Column -->
                    <ng-container matColumnDef="Size">
                        <th class="p-2 " mat-header-cell *matHeaderCellDef> Size </th>
                        <td class="p-2 " mat-cell *matCellDef="let element"> {{element.size}} </td>
                    </ng-container>

                    <!-- Qty Column -->
                    <ng-container matColumnDef="Qty">
                        <th class="p-2 text-center" mat-header-cell *matHeaderCellDef> Qty </th>
                        <td class="p-2 text-center" mat-cell *matCellDef="let element">
                            <button mat-icon-button color="primary" aria-label="Subtraction"
                                (click)="decreaseQty(element.id)">
                                <mat-icon>remove</mat-icon>
                            </button>
                            {{element.quantity}}
                            <button mat-icon-button color="primary" aria-label="Addition"
                                (click)="increaseQty(element.id)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="Price">
                        <th class="p-2 text-center" mat-header-cell *matHeaderCellDef> Price </th>
                        <td class="p-2 text-center" mat-cell *matCellDef="let element">
                            ${{element.price.toFixed(2)}} </td>
                    </ng-container>

                    <!-- Remove Item Column -->
                    <ng-container matColumnDef="Remove">
                        <th class="p-2 text-center" mat-header-cell *matHeaderCellDef></th>
                        <td class="p-2 text-center" mat-cell *matCellDef="let element = index">
                            <button mat-icon-button color="warn" aria-label="Addition" (click)="removeItem(element)">
                                <mat-icon>close</mat-icon>
                            </button>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <!-- Receipt SideBar -->
        <div class="receiptSideBar col-4 pb-2">
            <div class="container h-100">

                <div class="row text-center d-flex justify-content-center pt-4 py-2">
                    <h1 class="m-0">Checkout</h1>
                    <!-- Error Message -->
                    <div *ngIf="error" class="error mt-2">
                        {{ error }}
                    </div>
                </div>

                <!-- Current User Detials -->
                <div class="row my-2">
                    <div class="col d-flex align-items-center pb-2">
                        <div>
                            <h3 class="m-0 p-0 pb-1 text-capitalize fw-bold">Sold To:</h3>
                            <h4 class="m-0 p-0 text-capitalize">'{{accountName}}'</h4>
                            <h4 class="m-0 p-0 text-capitalize">'{{accountStreet}}'</h4>
                            <h4 class="m-0 p-0 text-capitalize">'{{accountCity_town_village}}'</h4>
                            <h4 class="m-0 p-0 text-capitalize">'{{accountPhone}}'</h4>
                        </div>
                    </div>
                </div>

                <mat-divider class="my-2"></mat-divider>
                <!-- Sub Total -->
                <div class="row p-0">
                    <div class="col">
                        <h4 class="mx-2 mb-1">Sub Total:</h4>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <h4 class="mx-4 mb-1">${{subTotal | number : '1.2-2'}}</h4>
                    </div>
                </div>
                <!-- Discount -->
                <div class="row p-0">
                    <div class="col">
                        <h4 class="mx-2 mb-1">Discount:</h4>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <h4 class="mx-4 mb-1">${{discount | number : '1.2-2'}}</h4>
                    </div>
                </div>
                <!-- Tax -->
                <div class="row p-0">
                    <div class="col">
                        <h4 class="mx-2 mb-1">Tax (12.5%):</h4>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <h4 class="mx-4 mb-1">${{tax | number : '1.2-2'}}</h4>
                    </div>
                </div>
                <!-- Total -->
                <div class="row">
                    <div class="col">
                        <h2 class="mx-2 mb-2">Total:</h2>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <h2 class="mx-4 mb-2">${{total | number : '1.2-2'}}</h2>
                    </div>
                </div>

                <mat-divider class="mb-2"></mat-divider>

                <div class="row pt-2">
                    <div class="col d-flex justify-content-center p-0 m-0">
                        <!-- Discount Input Field -->
                        <mat-form-field appearance="fill" class="reference">
                            <mat-icon class="pt-1 mx-1" matSuffix>percent</mat-icon>
                            <mat-label>Discount</mat-label>
                            <input mat-icon-store type="text" matInput name="discount" maxlength="3"
                                [formControl]="discountField" (ngModelChange)="discountChange($event)">
                        </mat-form-field>
                    </div>
                </div>

                <mat-divider class="mb-2"></mat-divider>

                <!-- Payment Method Titel -->
                <div class="row">
                    <h2 class="mx-2 fw-normal">Payment Method</h2>
                </div>
                <!-- Payment Methods -->
                <div class="row no-gutters pb-2">
                    <div class="col-4 my-1 d-flex justify-content-end">
                        <!-- Cash Payment Mehtod Btn -->
                        <button mat-stroked-button id="Cash" color="primary" class="payment-method-Btn"
                            (click)="paymentMethod(0)">
                            <mat-icon>local_atm</mat-icon>
                            <span class="d-md-block">Cash</span>
                        </button>
                    </div>
                    <div class="col-4 my-1 d-flex justify-content-center">
                        <!-- Card Payment Mehtod Btn -->
                        <button mat-stroked-button id="Card" color="primary" class="payment-method-Btn"
                            (click)="paymentMethod(1)">
                            <mat-icon>credit_card</mat-icon>
                            <span class="d-md-block">Card</span>
                        </button>
                    </div>
                    <div class="col-4 my-1 d-flex justify-content-start">
                        <!-- Cheque Payment Mehtod Btn -->
                        <button mat-stroked-button id="Cheque" color="primary" class="payment-method-Btn"
                            (click)="paymentMethod(2)">
                            <mat-icon>money</mat-icon>
                            <span class="d-md-block">Cheque</span>
                        </button>
                    </div>

                    <div class="col-4 my-1 d-flex justify-content-end">
                        <!-- E-Wallet Payment Mehtod Btn -->
                        <button mat-stroked-button id="E-Wallet" color="primary" class="payment-method-Btn"
                            (click)="paymentMethod(3)">
                            <mat-icon>wallet</mat-icon>
                            <span class="d-md-block">E-Wallet</span>
                        </button>
                    </div>
                    <div class="col-4 my-1 d-flex justify-content-center">
                        <!-- Gift Card Payment Mehtod Btn -->
                        <button mat-stroked-button id="Gift Card" color="primary" class="payment-method-Btn"
                            (click)="paymentMethod(4)">
                            <mat-icon>card_giftcard</mat-icon>
                            <span class="d-md-block">Gift Card</span>
                        </button>
                    </div>
                    <div class="col-4 my-1 d-flex justify-content-start">
                        <!-- Direct to Bank Payment Mehtod Btn -->
                        <button mat-stroked-button id="Direct To Bank" color="primary" class="payment-method-Btn"
                            (click)="paymentMethod(5)">
                            <mat-icon>account_balance</mat-icon>
                            <span class="d-md-block">D.T.B</span>
                        </button>
                    </div>
                </div>

                <mat-divider class="my-2"></mat-divider>

                <form (ngSubmit)="receiptItemSubmit()">
                    <div class="row pt-2">
                        <div class="col d-flex justify-content-center p-0 m-0">
                            <!-- Tendered Amount Input Field -->
                            <mat-form-field appearance="fill" class="tendered">
                                <mat-icon class="pt-1 mx-1" matPrefix>attach_money</mat-icon>
                                <mat-label>Tendered Amount</mat-label>
                                <input type="number" matInput name="tendered" min="0" step=".01" required
                                    [formControl]="tenderedField">
                            </mat-form-field>
                        </div>
                        <div class="col d-flex justify-content-center p-0 m-0">
                            <!-- Reference Input Field -->
                            <mat-form-field appearance="fill" class="reference">
                                <mat-icon class="pt-1 mx-1" matPrefix>tag</mat-icon>
                                <mat-label>Reference</mat-label>
                                <input mat-icon-store type="text" matInput name="reference"
                                    [formControl]="referenceField">
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Clear or Save Btn -->
                    <div class="row pt-4">
                        <div class="col d-flex justify-content-center">
                            <button class="m-2" mat-raised-button type="reset" (click)="resetReceipt()">Clear</button>
                            <button class="m-2" mat-raised-button color="primary" type="submit"
                                [disabled]="clicked">Save and
                                New</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>