.content {
  max-width: 100%;
  overflow-x: hidden;
}

table {
  width: 100%;
}

.px-2{
  padding-left: .5rem;
  padding-right: .5rem;
}

.padTop-4{
  padding-top: 1rem;
}

.justify-content-end{
  display: flex;
  justify-content: flex-end;
}

ul{
  padding: 0;
}

h3,h2{
  padding: 0;
  margin: 0;
}

@media print{
  @page {size: landscape}

  .noPrint{
    visibility: hidden;
  }

  h3,h2{
    padding: 5px;
    
  }
}