<div class="content" id="printable-section">
    <div class="row">
        <div class="container m-4 p-4 col">
            <div class="row">
                <!-- Heading -->
                <div class="col">
                    <h1 class="my-2">Daily Sales Report {{reportTitle}}</h1>
                </div>
                <div class="col justify-content-end noPrint">
                    <button mat-raised-button color="primary" class="m-2" [useExistingCss]="true"
                        printSectionId="printable-section" ngxPrint>Print Report</button>
                </div>
            </div>

            <div class="row p-4 pb-0">
                <table mat-table [dataSource]="dataSource" matSort matSortActive="receiptNumber" matSortDirection="asc">

                    <!-- Receipt Number Column -->
                    <ng-container matColumnDef="receiptNumber">
                        <th class="p-2 px-2" mat-header-cell *matHeaderCellDef mat-sort-header> Rec # </th>
                        <td class="p-2 px-2" mat-cell *matCellDef="let element"> {{element.receiptNumber}} </td>
                    </ng-container>

                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th class="p-2 px-2" mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td class="p-2 px-2" mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container>

                    <!-- Customer Name Column -->
                    <ng-container matColumnDef="customerName">
                        <th class="p-2 px-2" mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                        <td class="p-2 px-2" mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                    </ng-container>

                    <!-- Items Column -->
                    <ng-container matColumnDef="items">
                        <th class="p-2 px-2" mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
                        <td class="p-2 px-2" mat-cell *matCellDef="let element">
                            <ul class="p-0 m-0 padTop-4">
                                <ng-container *ngFor="let item of element.items">
                                    <li>{{item.description | json}} - ${{item.price*item.quantity}}</li>
                                </ng-container>
                            </ul>
                        </td>
                    </ng-container>

                    <!-- Payment Method Column -->
                    <ng-container matColumnDef="paymentMeth">
                        <th class="p-2 px-2" mat-header-cell *matHeaderCellDef mat-sort-header> Payment Method </th>
                        <td class="p-2 px-2" mat-cell *matCellDef="let element"> {{element.paymentMeth}} </td>
                    </ng-container>

                    <!-- Total Column -->
                    <!-- <ng-container matColumnDef="total">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                        <td class="p-2" mat-cell *matCellDef="let element"> ${{element.total.toFixed(2)}} </td>
                    </ng-container> -->

                    <!-- Sets Table Column Names and Positions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="row">
                <div class="col noPrint">
                    <button mat-raised-button class="my-4 mx-2" (click)="refresReceiptListMale()">Male Report</button>
                    <button mat-raised-button class="my-4" (click)="refresReceiptListFemale()">Female Report</button>
                </div>
                <div class="col d-flex justify-content-end pt-4">
                    <h2>Closing Total: ${{salesTotal.toFixed(2)}}</h2>
                </div>
            </div>
        </div>
    </div>
</div>