.content {
  max-width: 100%;
  overflow-x: hidden;
}

table {
  width: 100%;
}

.table-container {
  height: 69vh;
  max-width: 100%;
  overflow: auto;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padTop-4 {
  padding-top: 1rem;
}

.justify-content-end {
  display: flex;
  justify-content: flex-end;
}

ul {
  padding: 0;
}

h3,
h2 {
  padding: 0;
  margin: 0;
}

@media print {
  @page {
    margin: 2rem;
    size: portrait;
  }

  .noPrint {
    visibility: hidden;
  }

  h1 {
    font-size: x-large;
  }

  h3 {
    padding: 3px;
    font-size: medium;
    font-weight: 400;
  }

  h2 {
    padding: 4px;
    font-size: larger;
  }

  th,
  td {
    font-size: small;
  }

  .table-container {
    height: auto;
    max-width: auto;
  }
}
