<!-- Receive Account Payment Dialog Component -->

<h2 mat-dialog-title class="d-flex justify-content-center pt-4 mb-0">Customer Payment</h2>
<mat-dialog-content [formGroup]="paymentForm">
    <!-- If any error is thrown then the error is shown here -->
    <div class="d-flex justify-content-center">
        <div *ngIf="error" class="row error mb-2 justify-content-center">
            {{ error }}
        </div>
    </div>

    <!-- Full Name input field and status input field-->
    <div class="row">
        <div class="col col-5">
            <div class="row m-2">
                <div class="col d-flex align-items-center pb-2">
                    <mat-icon>person</mat-icon>

                    <div class="mx-3">
                        <h5 class="m-0 p-0 pt-1 text-capitalize">Received From:</h5>
                        <h3 class="text-capitalize bold">{{account.fullName}}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="paymentAmount">
                    <mat-icon class="pt-1 mx-1" matPrefix>attach_money</mat-icon>
                    <mat-label>Payment Amount</mat-label>
                    <input mat-icon-store type="number" matInput min="0" step=".01" name="paymentAmount"
                        formControlName="paymentAmount">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="reference">
                    <mat-icon class="pt-1 mx-1" matPrefix>tag</mat-icon>
                    <mat-label>Reference</mat-label>
                    <input mat-icon-store type="text" matInput name="reference" formControlName="reference">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="memo">
                    <mat-icon class="pt-1 mx-1" matPrefix>notes</mat-icon>
                    <mat-label>Memo</mat-label>
                    <input mat-icon-store type="text" matInput name="memo" formControlName="memo">
                </mat-form-field>
            </div>

        </div>
        <div class="col col-7">
            <!-- Payment Methods -->
            <div class="row px-4">
                <!-- Cash Payment Mehtod Btn -->
                <button mat-stroked-button id="Cash" color="primary" class="payment-method-Btn d-flex flex-column"
                    (click)="paymentMethod(0)">
                    <mat-icon class="icon-display">local_atm</mat-icon>
                    <span>Cash</span>
                </button>
                <!-- Card Payment Mehtod Btn -->
                <button mat-stroked-button id="Card" color="primary" class="payment-method-Btn d-flex flex-column"
                    (click)="paymentMethod(1)">
                    <mat-icon class="icon-display">credit_card</mat-icon>
                    <span>Card</span>
                </button>
                <!-- Cheque Payment Mehtod Btn -->
                <button mat-stroked-button id="Cheque" color="primary" class="payment-method-Btn d-flex flex-column"
                    (click)="paymentMethod(2)">
                    <mat-icon class="icon-display">money</mat-icon>
                    <span>Cheque</span>
                </button>
            </div>
            <div class="row px-4">
                <!-- E-Wallet Payment Mehtod Btn -->
                <button mat-stroked-button id="E-Wallet" color="primary" class="payment-method-Btn d-flex flex-column"
                    (click)="paymentMethod(3)">
                    <mat-icon class="icon-display">wallet</mat-icon>
                    <span>E-Wallet</span>
                </button>
                <!-- Gift Card Payment Mehtod Btn -->
                <button mat-stroked-button id="Gift Card" color="primary" class="payment-method-Btn d-flex flex-column"
                    (click)="paymentMethod(4)">
                    <mat-icon class="icon-display">card_giftcard</mat-icon>
                    <span>Gift Card</span>
                </button>
                <!-- Direct to Bank Payment Mehtod Btn -->
                <button mat-stroked-button id="Direct To Bank" color="primary"
                    class="payment-method-Btn d-flex flex-column" (click)="paymentMethod(5)">
                    <mat-icon class="icon-display">account_balance</mat-icon>
                    <span>D.T.B</span>
                </button>
            </div>
        </div>
    </div>



</mat-dialog-content>
<!-- Cancel and Save Buttons -->
<mat-dialog-actions class="py-4 d-flex justify-content-end">
    <button mat-raised-button [disabled]="clicked" (click)="close()" class="m-2">Close</button>
    <button mat-raised-button color="primary" [disabled]="clicked" (click)="save()" class="m-2">
        <span *ngIf="!isLoading">Save</span>
        <mat-progress-spinner *ngIf="isLoading" diameter="16" mode="indeterminate"></mat-progress-spinner>
    </button>
</mat-dialog-actions>