<!-- Account Component -->
<div class="content">
    <div class="row">
        <div class="container col m-4 mt-0 mb-0 pt-2 ">
            <div class="row">
                <div class="col-3 mt-4">

                    <h1>Account List</h1>
                    <!-- Account List Filter -->
                    <mat-form-field class="m-2">
                        <mat-icon class="pt-1 mx-1" matPrefix>search</mat-icon>
                        <input type="input" #accountSearch matInput placeholder="Search" name="search"
                            (keyup)="applyFilter($event)" autocomplete="off">
                    </mat-form-field>
                    <!-- Account List Table -->
                    <div class="accountListTable">
                        <table mat-table [dataSource]="dataSource" matSort #matSortAccounts="matSort"
                            matSortActive="fullName" matSortDirection="asc">

                            <!-- Name Column -->
                            <ng-container matColumnDef="fullName">
                                <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                                <td class="p-2 text-capitalize" mat-cell *matCellDef="let element"
                                    [class.red]="element.status == 'inactive' ? 'red' : ''"> {{element.fullName}} </td>
                            </ng-container>

                            <!-- Balance Column -->
                            <ng-container matColumnDef="balance">
                                <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
                                <td class="p-2" mat-cell *matCellDef="let element"
                                    [class.red]="element.status == 'inactive' ? 'red' : ''">
                                    ${{element.balance.toFixed(2)}}
                                </td>
                            </ng-container>

                            <!-- Item Menu Column -->
                            <ng-container matColumnDef="menu">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Account Menu Button">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item routerLink="/dashboard/receipt/{{id}}/{{fullName}}"
                                            routerLinkActive="active" *ngIf="element.status == 'active'">
                                            <mat-icon>receipt</mat-icon>
                                            <span>Create Receipt</span>
                                        </button>
                                        <button mat-menu-item routerLink="/dashboard/invoice/{{id}}/{{fullName}}"
                                            routerLinkActive="active" *ngIf="element.status == 'active'">
                                            <mat-icon>receipt_long</mat-icon>
                                            <span>Create Invoice</span>
                                        </button>
                                        <button mat-menu-item (click)="receivePayment(element)"
                                            *ngIf="element.status == 'active'">
                                            <mat-icon>attach_money</mat-icon>
                                            <span>Receive Payment</span>
                                        </button>
                                        <button mat-menu-item (click)="editAccountBtn(element)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit Account</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <!-- Sets Table Column Names and Positions -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsAccount"></tr>
                            <tr mat-row (click)="fillAccountInfo(row)"
                                *matRowDef="let row; columns: displayedColumnsAccount;">
                            </tr>
                        </table>
                    </div>


                    <div class="row">
                        <!-- Hide or Show Inactive Items Button -->
                        <div class="col">
                            <button mat-stroked-button color="warn" class="my-3"
                                (click)="showHideInactive()">{{showHide_Value}}</button>
                        </div>
                    </div>
                </div>
                <!-- Customer Information with Transaction Table (Receipt/Invoice/Payments) -->
                <div class="col card">
                    <div class="row text-capitalize">
                        <h2 class="col">Customer Information</h2>
                        <div class="col d-flex justify-content-end">
                            <!-- Add New Account Button -->
                            <button mat-mini-fab color="accent" aria-label="New Account" (click)="addAccountBtn()"
                                id="addAccountBtn">
                                <mat-icon>{{icon}}</mat-icon>
                            </button>
                        </div>
                        <mat-divider class="my-2"></mat-divider>
                        <div class="col">
                            <h3 class="text-end">Full Name: </h3>
                            <h3 class="text-end">Bill To: </h3>
                        </div>
                        <div class="col col-3">
                            <h3 class="semibold">{{fullName}}</h3>
                            <h3 class="semibold">{{fullName}} <br>
                                {{street}} <br>
                                {{city_town_village}} <br>
                                {{country}} <br>
                            </h3>
                        </div>
                        <div class="col">
                            <h3 class="text-end">Phone: </h3>
                            <h3 class="text-end">Email: </h3>
                        </div>
                        <div class="col">
                            <h3 class="semibold">{{phone}}</h3>
                            <h3 class="semibold">{{email}}</h3>
                        </div>
                        <div class="col" *ngIf="icon == 'add'">
                            <h3 class="text-end">Status: </h3>
                        </div>
                        <div class="col" *ngIf="icon == 'add'">
                            <h3 class="semibold" [class.red]="status == 'inactive' ? 'red' : ''">{{status}}</h3>
                        </div>
                    </div>
                    <!-- Receipt/Invoice/Payments Tables -->
                    <div class="row">
                        <mat-tab-group>
                            <!-- Receipt Table -->
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="">receipt</mat-icon>
                                    Receipts
                                </ng-template>

                                <div class="receiptTable">
                                    <table mat-table [dataSource]="dataSourceReceipt" matSort #matSortReceipt="matSort"
                                        matSortActive="receiptNumber" matSortDirection="desc">

                                        <!-- Receipt Number Column -->
                                        <ng-container matColumnDef="receiptNumber">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Receipt
                                                Number </th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.receiptNumber}} </td>
                                        </ng-container>

                                        <!-- Date Column -->
                                        <ng-container matColumnDef="date">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Date
                                            </th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.date}}
                                            </td>
                                        </ng-container>

                                        <!-- Payment Method Column -->
                                        <ng-container matColumnDef="paymentMeth">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Payment
                                                Method </th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.paymentMeth}}
                                            </td>
                                        </ng-container>

                                        <!-- Amount Column -->
                                        <ng-container matColumnDef="total">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Amount
                                            </th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                ${{element.total.toFixed(2)}}
                                            </td>
                                        </ng-container>

                                        <!-- Receipt Menu Column -->
                                        <ng-container matColumnDef="menu">
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                                    aria-label="Receipt Menu Button">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="viewReceipt(element)">
                                                        <mat-icon>visibility</mat-icon>
                                                        <span>View Receipt</span>
                                                    </button>
                                                    <button mat-menu-item (click)="editReceiptBtn(element)"
                                                        *ngIf="privilege == 'admin'">
                                                        <mat-icon>edit</mat-icon>
                                                        <span>Edit Receipt</span>
                                                    </button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>

                                        <!-- Sets Table Column Names and Positions -->
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsReceipt"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsReceipt;">
                                        </tr>
                                    </table>
                                </div>
                            </mat-tab>
                            <!-- Invoice Table -->
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="">receipt_long</mat-icon>
                                    Invoices
                                </ng-template>
                                <div class="invoiceTable">

                                </div>
                            </mat-tab>
                            <!-- Payments Table -->
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="">attach_money</mat-icon>
                                    Received Payments
                                </ng-template>
                                <div class="paymentsTable">
                                    <table mat-table [dataSource]="dataSourcePayments" matSort
                                        #matSortPayments="matSort" matSortActive="date" matSortDirection="desc">

                                        <!-- Payment Method Number Column -->
                                        <ng-container matColumnDef="paymentMethod">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header>Payment
                                                Method</th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.paymentMethod}} </td>
                                        </ng-container>

                                        <!-- Reference Column -->
                                        <ng-container matColumnDef="reference">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header>Reference
                                            </th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.reference}}
                                            </td>
                                        </ng-container>

                                        <!-- Date Method Column -->
                                        <ng-container matColumnDef="date">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.date}}
                                            </td>
                                        </ng-container>

                                        <!-- Payment Amount Column -->
                                        <ng-container matColumnDef="paymentAmount">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header>Payment
                                                Amount</th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                ${{element.paymentAmount.toFixed(2)}}
                                            </td>
                                        </ng-container>

                                        <!-- Unapplied Amount Column -->
                                        <ng-container matColumnDef="unappliedAmount">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header>Unapplied
                                                Amount</th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                ${{element.unappliedAmount.toFixed(2)}}
                                            </td>
                                        </ng-container>

                                        <!-- Memo Method Column -->
                                        <ng-container matColumnDef="memo">
                                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header>Memo</th>
                                            <td class="p-2" mat-cell *matCellDef="let element">
                                                {{element.memo}}
                                            </td>
                                        </ng-container>

                                        <!-- Payment Menu Column -->
                                        <ng-container matColumnDef="menu">
                                            <th mat-header-cell *matHeaderCellDef></th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button [matMenuTriggerFor]="menu"
                                                    aria-label="Payment Menu Button">
                                                    <mat-icon>more_vert</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="viewPayment(element)">
                                                        <mat-icon>visibility</mat-icon>
                                                        <span>View Payment</span>
                                                    </button>
                                                    <button mat-menu-item (click)="editPaymentBtn(element)"
                                                        *ngIf="privilege == 'admin'">
                                                        <mat-icon>edit</mat-icon>
                                                        <span>Edit Payment</span>
                                                    </button>
                                                </mat-menu>
                                            </td>
                                        </ng-container>

                                        <!-- Sets Table Column Names and Positions -->
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsPayment"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPayment;">
                                        </tr>
                                    </table>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add or Edit Account Form -->
        <div *ngIf="show" class="addAccountForm col-4 pb-4">
            <app-add-account-form-component (refreshActiveAccountListEvent)="refreshTable($event)">
            </app-add-account-form-component>
        </div>
    </div>

</div>