/* Add Item CSS Styling */

.upc,
.online,
.quantity,
.price,
.mpn,
.status,
.tax,
.size,
.cost {
  width: 16rem;
}

.description,
.category {
  width: 33rem;
}

.file-name {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px;
  border-style: dashed;
  border-radius: 0.5rem;
}

.error {
  padding: 0.5rem;
  color: white;
  text-align: center;
  background-color: red;
  border-radius: 1rem;
  width: 50%;
}

.container {
  max-width: 100%;
  overflow: auto;
}

@media (max-width: 1800px) {
  .upc,
  .online,
  .quantity,
  .price,
  .mpn,
  .status,
  .category,
  .tax,
  .size,
  .cost {
    width: 14rem;
  }

  .description,
  .category {
    width: 30rem;
  }
}

@media (max-width: 1600px) {
  .upc,
  .online,
  .quantity,
  .price,
  .mpn,
  .status,
  .category,
  .tax,
  .size,
  .cost {
    width: 12rem;
  }

  .description,
  .category {
    width: 26rem;
  }
}

@media (max-width: 1400px) {
  .upc,
  .online,
  .quantity,
  .price,
  .category,
  .description,
  .mpn,
  .status,
  .category,
  .tax,
  .size,
  .cost {
    width: 14rem;
  }
}
