/* Styles the login page */

.card-holder {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 2rem;
    margin: 2rem;
    width: 66vw;
    background-color: #f6f6f6;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
}

.inner-card{
    background-image: url("../../../assets/images/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1rem;
    padding: 7rem;
}

@media only screen and (max-width: 1370px) {
    .card {
        width: 60vw;
        height: 100vh;
    }

    .inner-card {
        width: 55vw;
        height: 90vh;
    }
}