/* Styles the login page */

.card-holder {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 2rem;
    margin: 2rem;
    width: 66vw;
    background-color: #f6f6f6;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
}

.inner-card{
    background-image: url("../../../assets/images/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1rem;
    padding: 7rem;
}

.mdc-card--outlined{
    padding: 4rem;
}


@media (max-width: 1550px) {

    .mdc-card--outlined{
        padding: 3rem;
    }

    .card {
        width: 59vw;
        height: 89vh;
    }

    .inner-card {
        width: 54vw;
        height: 79vh;
    }
}