<!-- Edit Item Dialog Component -->

<h2 mat-dialog-title class="d-flex justify-content-center  pt-4 mb-0">Edit Item</h2>
<mat-dialog-content [formGroup]="itemForm">
    <!-- If any error is thrown then the error is shown here -->
    <div class="d-flex justify-content-center">
        <div *ngIf="error" class="row error mb-2 justify-content-center">
            {{ error }}
        </div>
    </div>
    
    <!-- UPC input field and Status input field-->
    <div class="row py-2">
        <div class="col d-flex justify-content-center">
            <mat-form-field hintLabel="Max 14 Characters" appearance="fill" class="upc">
                <mat-icon class="pt-1 mx-1" matPrefix>qr_code_2</mat-icon>
                <mat-label>UPC</mat-label>
                <input mat-icon-store type="text" matInput #upcInput maxlength="14" name="upc" formControlName="upc">
                <mat-hint align="end">{{upcInput.value.length || 0}}/14</mat-hint>
            </mat-form-field>
        </div>
        <div class="col d-flex justify-content-center">
            <mat-form-field appearance="fill" class="status">
                <mat-icon class="pt-1 mx-1" matPrefix>toggle_on</mat-icon>
                <mat-label>Status</mat-label>
                <mat-select name="status" formControlName="status">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <!-- Description input field -->
    <div class="row py-2">
        <div class="col-12 d-flex justify-content-center">
            <mat-form-field appearance="fill" class="description">
                <mat-icon class="pt-1 mx-1" matPrefix>description</mat-icon>
                <mat-label>Description</mat-label>
                <textarea matInput name="description" formControlName="description"></textarea>
            </mat-form-field>
        </div>
    </div>
    <!-- Category input field -->
    <div class="row py-2">
        <div class="col d-flex justify-content-center">
            <mat-form-field hintLabel="'Enter Button' or 'Comma Button' to add more" appearance="fill" class="category">
                <mat-icon class="pt-1 mx-1" matPrefix>category</mat-icon>
                <mat-label>Category</mat-label>
                <mat-chip-grid #chipList aria-label="Category selection">
                    <mat-chip-row *ngFor="let category of categories" (removed)="removeMatChip(category)">
                        {{category.name}}
                        <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    <input placeholder="New Category..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addMatChip($event)" formControlName="categories">
                </mat-chip-grid>
            </mat-form-field>
        </div>
    </div>
    <!-- Size input field and Quantity input field-->
    <div class="row py-2">
        <div class="col d-flex justify-content-center">
            <mat-form-field appearance="fill" class="size">
                <mat-icon class="pt-1 mx-1" matPrefix>straighten</mat-icon>
                <mat-label>Size</mat-label>
                <mat-select name="size" formControlName="size">
                    <mat-option value="xs">X-Small</mat-option>
                    <mat-option value="s">Small</mat-option>
                    <mat-option value="m">Medium</mat-option>
                    <mat-option value="l">Large</mat-option>
                    <mat-option value="xl">X-Large</mat-option>
                    <mat-option value="xxl">XX-Large</mat-option>
                    <mat-option value="other">Other</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col d-flex justify-content-center">
            <mat-form-field hintLabel="Max 999 Units" appearance="fill" class="quantity">
                <mat-icon class="pt-1 mx-1" matPrefix>tag</mat-icon>
                <mat-label>Quantity</mat-label>
                <input type="number" matInput name="quantity" min="0" max="999" formControlName="quantity">
            </mat-form-field>
        </div>
    </div>
    <!-- Cost input field and Price input field -->
    <div class="row py-2">
        <div class="col d-flex justify-content-center">
            <mat-form-field appearance="fill" class="cost">
                <mat-icon class="pt-1 mx-1" matPrefix>attach_money</mat-icon>
                <mat-label>Cost</mat-label>
                <input type="number" matInput name="cost" min="0" step=".01" formControlName="cost">
            </mat-form-field>
        </div>
        <div class="col d-flex justify-content-center">
            <mat-form-field appearance="fill" class="price">
                <mat-icon class="pt-1 mx-1" matPrefix>attach_money</mat-icon>
                <mat-label>Price</mat-label>
                <input type="number" matInput name="price" min="0" step=".01" formControlName="price">
            </mat-form-field>
        </div>
    </div>
    <!-- TAX input field and Online Input Field-->
    <div class="row py-2">
        <div class="col d-flex justify-content-center">
            <mat-form-field appearance="fill" class="tax">
                <mat-icon class="pt-1 mx-1" matPrefix>assured_workload</mat-icon>
                <mat-label>TAX</mat-label>
                <mat-select name="tax" formControlName="tax">
                    <mat-option [value]="true">12.5%</mat-option>
                    <mat-option [value]="false">None</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col d-flex justify-content-center">
                <mat-form-field appearance="fill" class="online">
                    <mat-icon class="pt-1 mx-1" matPrefix>shopping_bag</mat-icon>
                    <mat-label>Online</mat-label>
                    <mat-select name="online" formControlName="online">
                        <mat-option [value]="false">No</mat-option>
                        <mat-option [value]="true">Yes</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

</mat-dialog-content>
<!-- Cancel and Save Updated Item Buttons -->
<mat-dialog-actions class="py-4 d-flex justify-content-end">
    <button mat-raised-button [disabled]="clicked" (click)="close()" class="m-2">Close</button>
    <button mat-raised-button color="primary" [disabled]="clicked" (click)="save()" class="m-2">
        <span *ngIf="!isLoading">Save</span>
        <mat-progress-spinner *ngIf="isLoading" diameter="16" mode="indeterminate"></mat-progress-spinner>
    </button>
</mat-dialog-actions>