/* Styles all content in the inventory component */
.content {
  max-width: 100%;
  overflow-x: hidden;
}

table {
  width: 100%;
}

.table-container {
  height: 79vh;
  max-width: 100%;
  overflow: auto;
}

.mat-column-menu {
  text-align: end;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mat-mdc-row:nth-child(even) {
  background-color: #f0f0f0;
}

.addItemForm {
  height: 100vh;
  background-color: #f0f0f0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border: solid;
  border-width: 1px;
  border-color: #d8d8d8;
}

.red {
  color: red;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  font-weight: 500;
}



@media (max-width: 1370px) {

  .table-container {
    height: 72vh;
  }

  .addItemForm{
    width: 27%;
  }

}

@media (max-width: 1035px) {

  .addItemForm{
    width: 100%;
  }

}