<!-- Inventory Component -->
<div class="content">
    <div class="row">
        <div class="container col m-4 mt-0 mb-0 pt-2">
            <div class="row">
                <div class="col-md col-sm-auto mt-2 spinner-wrapper">
                    <span>
                        <h1 class="my-2">Inventory List</h1>
                    </span>
                    <mat-progress-spinner class="mx-2" *ngIf="isLoading" diameter="26"
                        mode="indeterminate"></mat-progress-spinner>
                </div>
                <div class="col d-flex justify-content-end mt-4">
                    <mat-form-field class="m-2 px-4" appearance="outline" subscriptSizing='dynamic'>
                        <mat-label>Search Item</mat-label>
                        <mat-icon class="pt-1 mx-1" matPrefix>search</mat-icon>
                        <input type="input" #itemSearch matInput name="search" (keyup)="applyFilter($event)"
                            autocomplete="off">
                    </mat-form-field>

                    <button mat-mini-fab class="m-2" color="accent" aria-label="New Item" (click)="addItemBtn()"
                        id="addItemBtn" *ngIf="privilege=='admin'">
                        <mat-icon>{{icon}}</mat-icon>
                    </button>
                </div>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort matSortActive="upc" matSortDirection="asc">

                    <!-- UPC Column -->
                    <ng-container matColumnDef="upc">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> UPC </th>
                        <td class="p-2" mat-cell *matCellDef="let element"
                            [class.red]="element.status == 'inactive' ? 'red' : ''"> {{element.upc}} </td>
                    </ng-container>

                    <!-- Description Column -->
                    <ng-container matColumnDef="description">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td class="p-2" mat-cell *matCellDef="let element"
                            [class.red]="element.status == 'inactive' ? 'red' : ''"> {{element.description}} </td>
                    </ng-container>

                    <!-- Price Column -->
                    <ng-container matColumnDef="price">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                        <td class="p-2" mat-cell *matCellDef="let element"
                            [class.red]="element.status == 'inactive' ? 'red' : ''"> ${{element.price.toFixed(2)}} </td>
                    </ng-container>

                    <!-- Quantity Column -->
                    <ng-container matColumnDef="quantity">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                        <td class="p-2" mat-cell *matCellDef="let element"
                            [class.red]="element.status == 'inactive' ? 'red' : ''"> {{element.quantity}} </td>
                    </ng-container>

                    <!-- Size Column -->
                    <ng-container matColumnDef="size">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                        <td class="p-2 text-uppercase" mat-cell *matCellDef="let element"
                            [class.red]="element.status == 'inactive' ? 'red' : ''"> {{element.size}} </td>
                    </ng-container>

                    <!-- Online Column -->
                    <ng-container matColumnDef="online">
                        <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Online </th>
                        <td class="p-2" mat-cell *matCellDef="let element"
                            [class.red]="element.status == 'inactive' ? 'red' : ''">
                            <ng-container *ngIf="element.online == true">Yes</ng-container>
                            <ng-container *ngIf="element.online == false">No</ng-container>
                        </td>
                    </ng-container>

                    <!-- Profit % Column -->
                    <ng-container *ngIf="privilege === 'admin'; else nonAdminColumns">
                        <ng-container matColumnDef="profitPercentage">
                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> Profit % </th>
                            <td class="p-2" mat-cell *matCellDef="let element"
                                [class.red]="element.status == 'inactive' ? 'red' : ''">
                                {{ itemProfit(element).profitPercentage | number : '1.2-2'}}%
                            </td>
                        </ng-container>
                    </ng-container>
                    <ng-template #nonAdminColumns>
                        <ng-container matColumnDef="profitPercentage">
                            <th class="p-2" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                            <td class="p-2" mat-cell *matCellDef="let element"
                                [class.red]="element.status == 'inactive' ? 'red' : ''">
                            </td>
                        </ng-container>
                    </ng-template>


                    <!-- Item Menu Column -->
                    <ng-container matColumnDef="menu">
                        <th id="spin" mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Item Menu Button"
                                *ngIf="privilege=='admin'">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editItemBtn(element)" *ngIf="privilege=='admin'">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit Item</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <!-- Sets Table Column Names and Positions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>


            <!-- Table Footer-->
            <div class="row">
                <!-- Hide or Show Inactive Items Button -->
                <div class="col-md-3">
                    <button mat-stroked-button color="warn" class="my-3"
                        (click)="showHideInactive()">{{showHide_Value}}</button>
                </div>
                <!-- Item Table Paginator -->
                <div class="col-md-9">
                    <mat-paginator [pageSizeOptions]="[12, 24, 50, 100]"></mat-paginator>
                </div>
            </div>


        </div>

        <!-- Add or Edit Item Form -->
        <div *ngIf="show" class="addItemForm col-md-4 col-sm-auto pb-4">
            <app-add-item-form-component (refreshActiveItemListEvent)="refreshTable()">
            </app-add-item-form-component>
        </div>
    </div>

</div>