/* Styles Page Not Found component */

.card-holder {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    padding: 2rem;
    margin: 2rem;
    width: 66vw;
    min-height: 75vh;
    background-color: #f6f6f6;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-icon {
    height: 7rem ;
    width: 7rem;
    font-size: 7rem;
  }

.error-icon{
    color: rgb(190, 188, 188);
    text-align: center;
}