<!-- Receipt Dialog which contains the HTML for the Printable Receipt and displayes the Tenered Change -->
<mat-dialog-content>
    <div class="p-2" id="printable-section" hidden>
        <!-- Receipt Heading -->
        <div class="row justify-content-center">
            <h4 class="text-center">TAX RECEIPT</h4>
        </div>
        <!-- Company Description -->
        <div class="row ">
            {{companyName}} <br>
            {{companyStreet}} <br>
            {{companyCityTownVillage}} <br>
            {{companyCountry}} <br>
            TIN#: {{companyTIN}} <br>
        </div>
        <!-- Rceipt Number -->
        <div class="row justify-content-end">
            <div class="col-2">Receipt No:</div>
            <div class="col-2">{{receiptData.receiptNumber}}</div>
        </div>
        <!-- Sold to: section -->
        <div class="row  py-2">
            Sold To:<br>
            {{receiptData.customerName}}
        </div>
        <!-- Payment method, Date and Sales Rep section -->
        <div class="row py-2">
            <div class="col">
                Pay't Method<br>
                {{receiptData.paymentMeth}}
            </div>
            <div class="col">
                Date<br>
                {{receiptData.date}}
            </div>
            <div class="col text-capitalize">
                Sales Rep<br>
                {{username}}
            </div>
        </div>
        <!-- Item List Table -->
        <div class="row py-4">
            <table>
                <tr class="py-2">
                    <th class="px-4">Description</th>
                    <th class="px-4">Qty</th>
                    <th class="px-4">Price</th>
                </tr>

                <tr class="py-2" *ngFor="let item of receiptData.items">
                    <td class="px-4">{{item.description}}</td>
                    <td class="px-4">{{item.quantity}}</td>
                    <td class="px-4">{{item.price | number : '1.2-2'}}</td>
                </tr>

            </table>
        </div>
        <!-- Subtotal Section -->
        <div class="row justify-content-end pt-4">
            <div class="col-2 bold">Subtotal</div>
            <div class="col-2">${{subTotal | number : '1.2-2'}}</div>
        </div>
        <!-- Discount Section -->
        <div class="row justify-content-end pt-2">
            <div class="col-2 bold">Discount</div>
            <div class="col-2">${{discount | number : '1.2-2'}}</div>
        </div>
        <!-- Tax Section -->
        <div class="row justify-content-end py-2">
            <div class="col-2 bold">Tax (12.5%)</div>
            <div class="col-2">${{tax | number : '1.2-2'}}</div>
        </div>
        <!-- Total Section -->
        <div class="row justify-content-end pb-4">
            <div class="col-2 bold totalBigger">Total</div>
            <div class="col-2 totalBigger">${{total | number : '1.2-2'}}</div>
        </div>
        <!-- Memo Section -->
        <div class="row justify-content-center py-6">
            {{receiptData.memo}}
        </div>
    </div>
    <!-- Change Section for the Receipt Dialog, this doesnt appear on the print out -->
    <div class="">
        <p mat-dialog-title class="d-flex justify-content-center">Change:</p>
        <h1 class="fw-bold d-flex justify-content-center px-2">${{change | number : '1.2-2'}}</h1>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="py-2 pb-4 d-flex justify-content-center">
    <button mat-raised-button (click)="close()" class="m-2">Close</button>
    <!-- Print Button uses ngx Print Function to print only the selected HTML called "printable-section" -->
    <button mat-raised-button color="primary" class="m-2" [useExistingCss]="true" printSectionId="printable-section"
        ngxPrint>Print Receipt</button>
</mat-dialog-actions>