<!-- SideNav Component -->

<div class="container-fluid">
    <!-- Displays Company Logo -->
    <div class="logo-div py-4">
        <img class="logo logo-image img-fluid rounded" src="../../../assets/images/logo.png" alt="logo">
    </div>
    <!-- Displays Navigation Buttons -->
    <div class="mainBtn-div">
        <!-- Home Button and Router Link -->
        <button routerLink="home" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>home</mat-icon>
            <span class="d-none d-sm-none d-md-block">Home</span>
        </button>
        <!-- Customer Button and Router Link -->
        <button routerLink="account" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>manage_accounts</mat-icon>
            <span class="d-none d-sm-none d-md-block">Account</span>
        </button>
        <!-- Inventory Button and Router Link -->
        <button routerLink="inventory" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>inventory</mat-icon>
            <span class="d-none d-sm-none d-md-block">Inventory</span>
        </button>
        <!-- Receipt Button and Router Link -->
        <button routerLink="receipt" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>receipt</mat-icon>
            <span class="d-none d-sm-none d-md-block">Receipt</span>
        </button>
        <!-- Invoice Button and Router Link -->
        <button routerLink="invoice" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>receipt_long</mat-icon>
            <span class="d-none d-sm-none d-md-block">Invoice</span>
        </button>
        <!-- History Button and Router Link -->
        <button routerLink="history" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>history</mat-icon>
            <span class="d-none d-sm-none d-md-block">History</span>
        </button>
        <!-- Report Button and Router Link -->
        <button routerLink="report" routerLinkActive="active" mat-stroked-button color="" class="my-1">
            <mat-icon>summarize</mat-icon>
            <span class="d-none d-sm-none d-md-block">Report</span>
        </button>
    </div>
    
</div>