/* Styles SideNav Component */

.logo {
  height: 4rem;
  width: auto;
}

.sideNav {
  height: 85vh;
}

.name {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.8rem;
  color: lightgray;
}

.mdc-button {
  color: white;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
}

.active {
  color: #673ab7;
  background-color: white;
}

.logOut {
  background-color: rgb(223, 5, 5);
  height: 2.5rem;
}

@media (max-width: 768px) {
  .mdc-button {
    width: 0;
    height: 3rem;
    border-radius: 1rem;
  }
}

@media (max-width: 1180px) {
  .sideNav {
    height: 82vh;
  }
}
