<div class="card-holder container">
    <mat-card>
        <div class="row">
            <div class="col-sm-4 icon">
                <!-- Icon -->
                <mat-icon class="">engineering</mat-icon>
                <br>
                <h1>404 ERROR</h1>
            </div>
            <div class="col-sm-8 px-4">
                <!-- Content -->
                <mat-card-title>Welcome</mat-card-title>
                <mat-card-content>
                    <p>Page Under Construction</p>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>