<!-- Home Component -->
<div class="content">
    <!-- ToolBar -->
    <mat-toolbar>
        <!-- Company name and welcome message in Toolbar -->
        <span class="text-capitalize h3 p-2 pt-4">{{companyName}}</span>
        <span class="example-spacer"></span>
        <span class="text-capitalize fs-6 px-4">{{greetingMessage}}</span>

        <!-- Toolbar functions -->
        <button mat-icon-button (click)="openCopyrightDialog()">
            <mat-icon>copyright</mat-icon>
        </button>
        <button mat-icon-button (click)="openCompanySettingsDialog()" *ngIf="privilege=='admin'">
            <mat-icon>business</mat-icon>
        </button>
        <button mat-icon-button (click)="openUserSettingsDialog()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="openCompanyUserSettingsDialog()" *ngIf="privilege=='admin'">
            <mat-icon>groups</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Daily Customer Graph -->
    <div class="card-holder">
        <div class="card">
            <div class="p-2">
                <!-- Canvas that draws the Graph -->
                <mat-progress-spinner *ngIf="isLoading" diameter="26" mode="indeterminate"></mat-progress-spinner>
                <canvas id="dailyCustomerStats"><span *ngIf="!isLoading">{{ chart }}</span></canvas>
                <div class="row justify-content-center pt-4">
                    <div class="col-sm-auto">
                        <mat-form-field appearance="fill" class="px-2">
                            <mat-label>Enter a date range</mat-label>
                            <mat-date-range-input [formGroup]="customDateSelection" [rangePicker]="picker">
                                <input matStartDate formControlName="startDate" placeholder="Start date">
                                <input matEndDate formControlName="endDate" placeholder="End date">
                            </mat-date-range-input>
                            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker>
                                <mat-date-range-picker-actions>
                                    <button mat-button matDateRangePickerCancel>Cancel</button>
                                    <button mat-raised-button color="primary" matDateRangePickerApply
                                        (click)="updateGraph()">Apply</button>
                                </mat-date-range-picker-actions>
                            </mat-date-range-picker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>