<!-- Home Component -->
<div class="content">
    <!-- ToolBar -->
    <mat-toolbar>
        <!-- Company name and welcome message in Toolbar -->
        <span class="text-capitalize h3 p-2 pt-4">{{companyName}}</span>
        <span class="example-spacer"></span>
        <span class="text-capitalize fs-6 px-4">{{greetingMessage}}</span>

        <!-- Toolbar functions -->
        <button mat-icon-button (click)="copyright()">
            <mat-icon>copyright</mat-icon>
        </button>
        <button mat-icon-button (click)="userSettings()">
            <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button (click)="editCompanyUsers()" *ngIf="privilege=='admin'">
            <mat-icon>group</mat-icon>
        </button>
        <button routerLink="/login" mat-stroked-button color="warn">
            <mat-icon>logout</mat-icon>
            <span>Sign out</span>
        </button>
    </mat-toolbar>

    <!-- Daily Customer Graph -->
    <div class="card-holder">
        <div class="card">
            <div class="p-2">
                <!-- Canvas that draws the Graph -->
                <canvas id="dailyCustomerStats">{{ chart }}</canvas>
            </div>
        </div>
    </div>

</div>