/* Styles Page Not Found component */
mat-toolbar{
    background-color: white;
    box-shadow: 0 4px 2px -2px rgb(206, 206, 206);
}

.content{
    max-width: 100%;
    overflow-x: hidden;
}

.example-spacer {
    flex: 1 1 auto;
}

.card-holder {
    width: 85vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 1rem;
    margin: 1rem;
    width: 70vw;
    min-height: 70vh;
    background-color: #fafafa;
    border-radius: 3rem;
}

