/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html,
body {
  height: 100%;
  background-color: #eae8e8;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snakBar {
  --mdc-snackbar-container-color: #673ab7;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: #00a673;
}

.error-snakBar {
  --mdc-snackbar-container-color: red;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: rgb(114, 2, 2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
