/* Add Account CSS Styling */

.fullName,
.status,
.phone,
.email,
.street,
.city_town_village,
.country {
  width: 16rem;
}

.error {
  padding: 0.5rem;
  color: white;
  text-align: center;
  background-color: red;
  border-radius: 1rem;
  width: 50%;
}

.container {
  max-width: 100%;
  overflow: auto;
}

@media (max-width: 1800px) {
  .fullName,
  .status,
  .phone,
  .email,
  .street,
  .city_town_village,
  .country {
    width: 14rem;
  }
}

@media (max-width: 1600px) {
  .fullName,
  .status,
  .phone,
  .email,
  .street,
  .city_town_village,
  .country {
    width: 12rem;
  }
}

@media (max-width: 1400px) {
  .fullName,
  .status,
  .phone,
  .email,
  .street,
  .city_town_village,
  .country {
    width: 14rem;
  }
}
