<!-- App Settings Dialog Component -->

<h1 mat-dialog-title class="pt-4 m-0">Terms & Conditions</h1>
<h5 class="px-4">Updated on 2023-01-01</h5>
<mat-dialog-content>

    <h2>General Terms</h2>
    <p>
        By accessing Micro Tech Point of Sale WebApp, you confirm that you are in agreement with and bound by
        the terms of service contained in the Terms & Conditions outlined below. These terms apply to the entire website
        and any email or other type of communication between you and Micro Tech.
    </p>
    <p>
        Under no circumstances shall Micro Tech team be liable for any direct, indirect, special, incidental or
        consequential damages, including, but not limited to, loss of data or profit, arising out of the use, or the
        inability to use, the materials on this site, even if Micro Tech team or an authorized representative has been
        advised of the
        possibility of such damages. If your use of materials from this site results in the need for servicing, repair
        or correction of
        equipment or data, you assume any costs thereof.
    </p>
    <p>
        Micro Tech will not be responsible for any outcome that may occur during the course of usage of our
        resources. We reserve the rights to change prices and revise the resources usage policy in any moment.
    </p>

    <h2>License</h2>
    <p>
        Micro Tech grants you a revocable, non-exclusive, non-transferable, limited license to use the
        website strictly in accordance with the terms of this Agreement. These Terms & Conditions are a contract between
        you and
        Micro Tech ("we," "our," or "us") grants you a revocable, non-exclusive, non-transferable, limited license use
        the website
        strictly in accordance with the terms of this Agreement.
    </p>

    <h2>Definitions and key terms</h2>
    <p>
        For this Terms & Conditions:
    </p>
    <ul>
        <li>Company: when this policy mentions “Company,” “we,” “us,” or “our,” it refers to Micro Tech that is
            responsible for
            your information under this Privacy Policy.
        </li>
        <li>
            Country: where Micro Tech POS or the owners/founders of Micro Tech are based, in this case is Belize.
        </li>
        <li>
            Customer: refers to the company, organization or person that signs up to use the Micro Tech POS Service to
            manage
            the relationships with your consumers or service users.
        </li>
        <li>
            Device: any internet connected device such as a phone, tablet, computer or any other device that can be used
            to visit
            Micro Tech POS and use the services.
        </li>
        <li>
            Personnel: refers to those individuals who are employed by Micro Tech or are under contract to perform a
            service on behalf of one of the parties.
        </li>
        <li>
            Personal Data: any information that directly, indirectly, or in connection with other information —
            including a
            personal
            identification number — allows for the identification or identifiability of a natural person.
        </li>
        <li>
            Service: refers to the service provided by Micro Tech as described in the relative terms (if available)
            and on
            this
            platform.
        </li>
        <li>
            Website: Micro Tech POS site, which can be accessed via this URL: https://micro-tech-pos.web.app/.
        </li>
        <li>
            You: a person or entity that is registered with Micro Tech POS to use the Services.
        </li>
    </ul>

    <h2>Restrictions</h2>
    <p>
        You agree not to, and you will not permit others to:
    </p>
    <ul>
        <li>
            License, sell, rent, lease, assign, distribute, transmit, host, outsource, disclose or otherwise
            commercially exploit the
            service or make the platform available to any third party.
        </li>
        <li>
            Modify, make derivative works of, disassemble, decrypt, reverse compile or reverse engineer any part of the
            service.
        </li>
        <li>
            Remove, alter or obscure any proprietary notice (including any notice of copyright or trademark) of or its
            affiliates,
            partners, suppliers or the licensors of the service.
        </li>
    </ul>

    <h2>Update to Our service</h2>
    <p>
        We may from time to time provide enhancements or improvements to the features/ functionality of the service,
        which may
        include patches, bug fixes, updates, upgrades and other modifications ("Updates"). Updates may modify or delete
        certain
        features and/or functionalities of the service. You agree that we have no obligation to (i) provide any Updates,
        or (ii) continue
        to provide or enable any particular features and/or functionalities of the service to you. You further agree
        that all Updates will
        be (i) deemed to constitute an integral part of the service, and (ii) subject to the terms and conditions of
        this Agreement.
    </p>

    <h2>Term and Termination</h2>
    <p>
        This Agreement shall remain in effect until terminated by you or us. We may, in its sole discretion, at any time
        and for any or
        no reason, suspend or terminate this Agreement with prior notice (30 Days). This Agreement will terminate
        immediately, in the event that you fail to comply with any provision of this Agreement. You may
        also terminate this Agreement by notifying us 30 days prior. Upon termination of this
        Agreement, you
        shall cease all use of the service and delete all copies of the service from your computer. Termination of this
        Agreement will not limit any of our rights or remedies at law or in equity in case of breach by you (during the
        term of this
        Agreement) of any of your obligations under the present Agreement. Upon termination all your data will be sent
        to you
        and deleted from our servers.
    </p>

    <h2>Amendments to this Agreement</h2>
    <p>
        We reserve the right, at its sole discretion, to modify or replace this Agreement at any time. If a revision is
        material we will
        provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will
        be determined
        at our sole discretion. By continuing to access or use our service after any revisions become effective, you
        agree to be
        bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use our
        service.
    </p>

    <h2>Entire Agreement</h2>
    <p>
        The Agreement constitutes the entire agreement between you and us regarding your use of the service and
        supersedes all
        prior and contemporaneous written or oral agreements between you and us. You may be subject to additional terms
        and
        conditions that apply when you use or purchase other services from us, which we will provide to you at the time
        of such use
        or purchase.
    </p>

    <h2>Intellectual Property</h2>
    <p>
        Our platform and its entire contents, features and functionality (including but not limited to all information,
        software, text,
        displays, images, video and audio, and the design, selection and arrangement thereof), are owned by us, its
        licensors or
        other providers of such material and are protected by Belize and international copyright, trademark, patent,
        trade secret and
        other intellectual property or proprietary rights laws. The material may not be copied, modified, reproduced,
        downloaded or
        distributed in any way, in whole or in part, without the express prior written permission of us, unless and
        except as is
        expressly provided in these Terms & Conditions. Any unauthorized use of the material is prohibited.
    </p>

    <h2>Resources Usage Policy</h2>
    <p>
        You may not consume in excess of 50K Reads, 20K Writes, and 20K Deletes of the allocated resources
        under your subscription and Services or
        use the Website and Services in any way which results in performance issues or which
        interrupts the Services for other Users.
        Prohibited activities that contribute to excessive use, include without limitation:
    </p>
    <ul>
        <li>
            Deliberate attempts to overload the Website and Services and broadcast attacks (i.e.
            denial of service attacks).
        </li>
        <li>
            Engaging in any other activities that degrade the usability and performance of the
            Website and Services.
        </li>
    </ul>

    <h2>Contact Us</h2>
    <p>
        Don't hesitate to contact us if you have any questions.
    </p>
    <ul>
        <li>Via Email: MicroTechBZ@gmail.com </li>
    </ul>

</mat-dialog-content>
<!-- Cancel and Save Updated Item Buttons -->
<mat-dialog-actions class="py-4 d-flex justify-content-end">
    <button mat-raised-button (click)="close()" class="m-2">Close</button>
</mat-dialog-actions>